{% extends "base.html.twig" %}

{% block title %}Source List ({{ sources|length }}){% endblock %}

{% block body %}
    <ul>
        {% for aggregate in sources %}
            <li>
                <a href="{{ path('app_source_show', {'sourceId': aggregate.source.idSuffix}) }}">{{ aggregate.source.name }}</a>
                ({{ aggregate.count }})
            </li>
        {% endfor %}
    </ul>
{% endblock %}
