{% extends "base.html.twig" %}
{% block body %}
    <ul>
        {% for aggregate in sources %}
            <li>{{ aggregate.source.name }} ({{ aggregate.count }})</li>
        {% endfor %}
    </ul>
{% endblock %}
