{% extends 'base.html.twig' %}
{% import "macros.html.twig" as macro %}

{% block title %}E-Mails{% endblock %}

{% block body %}
    <h2>E-Mails</h2>
    <div class="d-flex flex-row-reverse bd-highlight">
        <div class="p-2">{{ macro.pagination(pageCount, currentPage) }}</div>
    </div>
    {% include "Email/_table.html.twig" with {samples: samples} %}
{% endblock %}
